.main {
  height: auto;
  margin-top: -95px;
}
.main .img {
  background-image: url("../../picturesD/Main bg.jpg");
  background-size: cover;
  height: auto;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main .img .center {
  max-width: 670px;
  text-align: center;
  margin: 0 auto;
  padding: 180px 0;
}

.main .img .center .text1 {
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 5px;
}

.main .img .center .text2 {
  margin: 0 auto;
  max-width: 535px;
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
  padding: 10px 5px;
}
.main .img .center .btn {
  margin-top: 18px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: none;
  margin: 0 auto;
  padding: 5px 42px;
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.main .img .center .btn .btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .img .center .t2 {
  padding-bottom: 18px;
}
